<!doctype html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'lesson_auth/css/style.css' %}">
    <title>Index</title>
</head>
<body>
    <div>
        <p>Главная страница</p>

        {% if request.user.is_authenticated %}
         <form action="" method="post">
             {% csrf_token %}
             {{ form.as_p }}
             <button>Добавить</button>
         </form>
        {% endif %}


        {% for post in posts %}
            <div>
                <p>
                    {{ post.title }}
                </p>

                <p>
                    {{ post.author.username }}
                </p>
            </div>
        {% endfor %}





    </div>
</body>
</html>